---
layout: default
---
{% include category/title.html %}

<ul class="list-posts">
    {% assign empty_category = true %}
    {% for post in site.posts %}
        {% if post.categories contains page.category %}
            <li class="post-teaser">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="post-teaser__title">{{ post.title }}</span>
                    <span class="post-teaser__date">
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%-d" }}
                        {% case m %}
                          {% when '1' %}Ocak
                          {% when '2' %}Şubat
                          {% when '3' %}Mart
                          {% when '4' %}Nisan
                          {% when '5' %}Mayıs
                          {% when '6' %}Haziran
                          {% when '7' %}Temmuz
                          {% when '8' %}Ağustos
                          {% when '9' %}Eylül
                          {% when '10' %}Ekim
                          {% when '11' %}Kasım
                          {% when '12' %}Aralık
                        {% endcase %}
                        {{ post.date | date: "%Y" }}
                    </span>
                </a>
            </li>
            {% assign empty_category = false %}
        {% endif %}
    {% endfor %}

    {% if empty_category %}
        <li class="empty-post-list">
            Bu kategoride hiç yazı yok,
            bütün yazıları görmek için <a href="/">ana sayfaya</a> geri dönün.
        </li>
    {% endif %}
</ul>

{% include page/explore.html %}